body{ padding:0; margin:0; font-family: 'droid_sansregular'; font-size:15px; /*color:#777777;*/ color:#4a4a4a; background-color: #f7f7f7 !important;}

p, h1, h2, h3, h4, h5, h6{ margin:0; padding:0;}
a{ outline:none;}

a,a:hover{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
img{border:none;}

@font-face {
	font-family: 'Conv_Lakesight_PersonalUseOnly';
	src: url('../fontface/Lakesight_PersonalUseOnly.eot');
	src: local('☺'), url('../fontface/Lakesight_PersonalUseOnly.woff') format('woff'), url('../fontface/Lakesight_PersonalUseOnly.ttf') format('truetype'), url('../fontface/Lakesight_PersonalUseOnly.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Futura Condensed Medium';
	src: url('../fontface/Futura Condensed Medium.eot');
	src: local('☺'), url('../fontface/Futura Condensed Medium.woff') format('woff'), url('../fontface/Futura Condensed Medium.ttf') format('truetype'), url('../fontface/Futura Condensed Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('../fontface/droidsans-webfont.woff2') format('woff2'),
         url('../fontface/droidsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lakesightregular';
    src: url('../fontface/lakesight-webfont.eot');
    src: url('../fontface/lakesight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/lakesight-webfont.woff2') format('woff2'),
         url('../fontface/lakesight-webfont.woff') format('woff'),
         url('../fontface/lakesight-webfont.ttf') format('truetype'),
         url('../fontface/lakesight-webfont.svg#lakesightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#btnCReg{margin-left:70px;}


/******* login page ********/
.login-mid{ max-width:530px; margin:auto;}
.login-wrapper{ width:100%; float:left; margin-top:120px;}
.login-logo{ width:100%; float:left; text-align:center;}
.login-heading{ width:100%; float:left; border:1px solid #aeaeae; font-size:20px; font-weight:bold; color:#333333; background-color:#f5f5f5; border-radius:10px 10px 0 0; padding:9px 20px; margin:20px 0 0 0; box-sizing:border-box;}
.login-content{ width:100%; float:left; background-color:#fff; border:1px solid #aeaeae; border-top:none; padding:30px 20px 20px 20px; box-sizing:border-box; border-radius:0 0 10px 10px;}

.login-content input[type="text"], .login-content input[type="password"]{ width:100%; float:left; border:1px solid #9e9e9e; padding:10px; border-radius:5px; box-sizing:border-box; margin-bottom:17px; font-size:16px; color:#4a4a4a; font-family: 'droid_sansregular'}
.login-content input[type="submit"]{ width:100%; float:left; /*background-color:#ffe500;*/ background-color:#f4c455; text-align:center; border:none; color:#333; font-weight:bold; padding:10px; border-radius:5px; box-sizing:border-box; margin-top:17px; font-size:18px; color:#4a4a4a; font-family: 'droid_sansregular'}

.login-content input[type="submit"]:hover{background-color:#e7b540;}

.rem{ width:100%; float:left; font-size:14px;}


.header{ width:100%; float:left; padding:0 20px; background-color:#434343; box-sizing:border-box; position:fixed; z-index:999;}
.logo{ float:left; padding:6px 0;}
.logo img{ width:175px; height:auto;}
.username{ float:right;}
.username ul{ margin:0; padding:0; list-style:none;}
.username ul li{ display:inline-block;  position:relative;}
.username  ul li a{ color:#fff; font-size:16px; text-decoration:none; float:left; padding:20px 0;}
.username  ul li a .fa-angle-down{ color:#fff; font-size:20px; position:relative; top:2px;}

.username ul li ul{ width:140px; list-style:none; background-color:#fff; border:1px solid #d4d4d4; margin:0; position:absolute; display:none; top:63px; right:-19px; border-radius:5px;}
.username ul li:hover ul{ display:block;}
.username ul li ul li{ display:inline-block; text-align:center; width:100%}
.username ul li ul li a{ width:100%; font-size:15px; text-decoration:none; color:#4a4a4a; padding:8px 10px; box-sizing:border-box;}
.username ul li ul li a:hover{ background-color:#efefef; color:#333333;}

.left-navigation{ width:20%; float:left; background-color:#fff; box-shadow:0px 0px 7px #ccc; position:fixed; top:63px; height:100%; overflow:auto; overflow-x:hidden;}
.left-navigation ul{ margin:0; padding:0; list-style:none; width:100%; float:left; padding-bottom:20px;}
.left-navigation ul li{ display:inline-block; width:100%;}
.left-navigation ul li a{ width:100%; float:left; padding:12px 20px; font-size:17px; color:#333333; border-bottom:1px solid #d4d2d2; text-decoration:none; box-sizing:border-box;}
.left-navigation ul li a:hover{ background-color:#d5d5d5;}
.left-navigation ul li a .fa-angle-right{ font-size:20px; color:#848484; float:right; position:relative; top:2px;}
.left-navigation ul li a img{ margin:0 10px 0 0;}
.left-navigation ul li .submenu{ width:100%; float:left; background-color:#e9e9e9; padding:0px; box-sizing:border-box; margin:0; list-style:none; display:none;}
.left-navigation ul li ul.submenu li{ display:inline-block; width:100%;}
.left-navigation ul li .submenu li a{ width:100%; float:left; padding:12px 20px 12px 45px; font-size:16px; color:#333333; border-bottom:none; text-decoration:none; box-sizing:border-box;}
.left-navigation ul li .submenu li a:hover{ background-color:#dddddd;}
.left-navigation ul li .submenu li.active a{ background-color:#dddddd;}
/*.left-navigation ul li.active ul.submenu{ display:block;}*/
.left-navigation ul li a.downarrow{ background-color:#d5d5d5;}

.left-navigation ul li a.downarrow .fa-angle-right{    -ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}


.right-wrapper{ float:right; width:80%;  background-color:#f7f7f7; padding:20px 30px; box-sizing:border-box; margin-top:60px;}
.pageheading{ width:100%; float:left; font-family: 'Conv_Futura Condensed Medium'; font-size:30px; color:#333333; margin-bottom:20px; }
.form-area{ width:100%; float:left; background-color:#fff; border:1px solid #dedede; padding:25px 20px; box-sizing:border-box;}
.bnt-row{ width:100%; float:left; margin-bottom:20px;}
.enbdis{ float:left; margin-right:15px;}
.enable{ background-color:#6fcf00; font-size:16px; color:#fff; border:none; border-radius:5px 0px 0px 5px; padding:8px 17px;}
.disable{ background-color:#e0e0e0; font-size:16px; color:#aeaeae; border:none; border-radius:0px 5px 5px 0px; padding:8px 17px;}
.yellow-btn{/*background-color:#ffe924;*/ background-color:#f4c455; font-size:16px; color:#333333; border:none; border-radius:5px;; padding:8px 17px;}
.grey-btn{background-color:#eaeaea; font-size:16px; color:#333333; border:none; border-radius:5px;; padding:8px 17px; border:1px solid #c9c9c9}
.green-btn{background-color:#6fcf00; font-size:16px; color:#fff; border:none; border-radius:5px;; padding:8px 17px; border:1px solid #c9c9c9}
.btn-mrg-right{ margin-right:12px;}
.btn-left{ float:left;}
.btn-right{ float:right;}
.template-info{ width:100%; float:left;}
.template-info-left{ width:75%; float:left;}
.gallery-img{ float:right; width:22%; background-color:#e7e7e7; height:300px; text-align:center; display: table;}
.gallery-img a{display:table-cell; vertical-align:middle;}
.gallery-img .fa-plus-circle{ color:#6fcf00; font-size:60px;}


.input-row{ width:100%; float:left; margin-bottom:15px;}
input[type="text"], input[type="number"], input[type="password"], select, textarea{ border:1px solid #9e9e9e;  padding:10px; border-radius:5px; box-sizing:border-box; font-size:16px; color:#4a4a4a; font-family: 'droid_sansregular'}

@media screen and (-webkit-min-device-pixel-ratio:0) {
select{ border:1px solid #9e9e9e; padding:10px; height:45px; line-height:40px; border-radius:5px; box-sizing:border-box; font-size:16px; color:#4a4a4a; font-family: 'droid_sansregular'; background-color:#fff; } 

}

.tooltiptopicevent { width:320px !important; background-color:#fff; text-align: center; padding:5px; box-sizing:border-box;  /*bottom: 150%;*/ left: 50%; margin-left: -166px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);}



.tooltip-day{float:left; width:75%; text-align:left; font-size:18px; line-height:22px; padding:0 0 0 10px; box-sizing:border-box; color:#4a4a4a;}
.tooltip-day span {font-size: 14px;}
.tooltip-day p {font-size: 24px;}
.tooltip-day p span {font-size: 15px;}
.tooltip-img{ width:20%; float:left;}
.tooltip-img img{ width:100%; height:auto;}



.tempname{ float:left; width:70%;}
.eventtype{ float:right; width:28%;}
.textfull{ width:100%;}
.slectfull{ width:100%;}
.textareafull{ width:100%; height:100px; resize:none;}
.clendar-color{ width:300px; margin-right:15px;}
.clendar-lavel{ width:300px;}
.schedule-section{ width:100%; float:left; margin:30px 0 0 0;}
.section-heading{ width:100%; float:left; font-size:22px; color:#333333; border-bottom:1px solid #bcbcbc; padding-bottom:8px; font-weight:normal; margin-bottom:20px;}
.schedule-row{ width:100%; float:left;}

.schedule-row input[type="text"]{ width:150px; float:none; margin:0 15px;}
.seats-section{ width:100%; float:left; margin:50px 0 0 0;}
.numseats{ width:300px;}
.ticket-wrapper{ width:100%; float:left; margin-top:10px;}
.ticket-left{float:left; width:5%; margin:125px 0 0 0;}
.ticket-right{float:right; width:95%; padding:20px; box-sizing:border-box; border:1px solid #a9a9a9; border-radius:5px;}
.ticket-right-row{ width:100%; float:left; margin-bottom:15px;}
.ticket-name{ width:81%; float:left;}
.ticket-price{ width:17%; float:right;}
.regular-pro{ width:300px; margin-right:15px; float:left;}
.add-cat{ float:left; margin-left:10px; margin-right:10px; text-decoration:none; color:#4a4a4a; margin-top:17px;}
.add-cat .fa-plus-circle{ color:#6fcf00; font-size:17px; margin-right:5px;}
.insert-row{ float:left;}

.proOptions .add-cat{ /*float:left;*/ float:none; display:inline-block; vertical-align:top; margin-left:10px; margin-right:10px; text-decoration:none; color:#4a4a4a; margin-top:17px; }

.insert-row .fa-plus-circle{ color:#6fcf00; font-size:50px;}
.insert-ticket{ float:left; margin:20px 0 0 0;}
.insert-ticket .fa-plus-circle{ color:#6fcf00; font-size:50px;}
.eventdate{ width:20%; margin-right:1%;}
.evlocation{ width:35.5%; float:right;}
.mar-bottom{ margin-bottom:15px;}
.pushdate{ width:13%; margin-right:1%;}
.schedule-row-top{ width:100%; float:left; margin-bottom:15px;}
.mar-rgt5{ margin-right:8px;}
.daybefore{ display:inline; margin-left:2%;}
.cose-reg{ margin-left:70px;}
.restrictions-section{ width:100%; float:left; margin:30px 0 0 0;}
.restrictions-row{ width:100%; float:left; margin-bottom:15px;}
.restrictions-left{ float:left; width:5%; margin-top:10px;}
.restrictions-right{ float:right; width:95%;}
.res-project{ width:20%;}
.am-flag{ width:77%; float:right;}
.accesscode{ width:40%;}


#btnaction {position: relative; background-color:#6fcf00; font-size:16px; color:#fff; border:none; border-radius:5px; padding:8px 25px; float:left;}
#disenbtn {display: none; }
#disenbtn:checked + #btnaction:after {content: "Disable";position: absolute;top: 0; left: 0;right: 0; bottom: 0;background-color:#e0e0e0; font-size:16px; color:#aeaeae; border:none; border-radius:5px; padding:8px 25px;}


#btnaction:hover{ background-color:#62b700;}
#btnaction:active{ background-color: #62b700;transform: translateY(2px);}
.yellow-btn:hover{ background-color:#e7b540;}
.yellow-btn:active{ background-color: #edd714;transform: translateY(2px);}
.grey-btn:hover{ background-color:#dedede;}
.grey-btn:active{ background-color:#dedede;transform: translateY(2px);}
.green-btn:hover{ background-color:#62b700;}
.green-btn:active{ background-color:#62b700;transform: translateY(2px);}

.abtstudio{width:100%; float:left; margin:30px 0 0 0;}
.wysiwyg-editor{ width:100%; float:left; position:relative;}
.sociallink-section{ width:100%; float:left; margin:30px 0 0 0;}
.sociallink-row{ width:100%; float:left; margin-bottom:15px;}
.sociallink-row span{ margin-right:17px; font-size:16px; display:inline-block; width:107px; text-align:right;}
.width70{ width:70%;}
.stdo-chk{ width:100%; float:left; margin:25px 0 0 0; font-size:17px;}
.bottom-btn{ width:100%; float:left; margin:30px 0 0 0;}
.user-info{ width:100%; float:left;}
.left49{ width:49%!important; float:left;}
.right49{ width:49%!important; float:right;}
.left49 input, .right49 input{ width:100%!important;}
.sku{ width:28%; margin-right:2%; float:right;}
.workshop-section {width: 100%;float: left;margin: 30px 0 0 0;}
.left70{ width:70%; float:left;}
.right28{ width:28%; float:right;}
.width30{ width:30%;}
.publishing-section{ width:100%; float:left; margin:30px 0 0 0;}
.mrgtopleft0{ margin-top:0; margin-left:0;}
.gallery-section{ width:100%; float:left; margin:30px 0 0 0;}
.gallery-thumb{ float:left; width:230px; background-color:#e7e7e7; height:250px; text-align:center; display: table;}
.gallery-thumb a{display:table-cell; vertical-align:middle;}
.gallery-thumb .fa-plus-circle{ color:#6fcf00; font-size:60px;}
.findprint-section{ width:100%; float:left; margin:30px 0 0 0;}
.fndleft{ width:48%; float:left;}
.fndright{ width:48%; float:right;}
.tareacustom{ width:93%; float:right;}

/* pradeep */
.template-full_section{float:left; width:100%;}
.last_template-full_section{float:left; width:100%; margin-top:50px;}
.template_f_wrapper{float:left; width:100%;}
.template_f_wrapper-left{float:left; width:5%; text-align:left; margin-top:33px;}
.template_f_wrapper-right{float:left; width:95%; padding:20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.american-flag{float:right; width:76%; }
.project-ddp{float:left; width:22%; }

.template_pe_dropdown{/*float:left;*/ display:inline-block; vertical-align:top; /*width:15%;*/ width:20%; margin-right:1.5%; margin-bottom:15px; padding:10px; border: 1px solid #9e9e9e; border-radius: 5px; font-size: 16px; color: #4a4a4a;}
.template_pe_dropdown-box{/*float:left;*/ display:inline-block; vertical-align:top; /*width:15%;*/ width:20%; margin-right:1.5%;  border: 1px solid #9e9e9e; border-radius: 5px; font-size: 16px; color: #4a4a4a; margin-bottom:15px;}
.template_pe_dropdown-box input{float:left; width:85%;  font-size: 16px; color: #4a4a4a; border:none;}
.template_pe_dropdown-box a{float:right; width:15%; text-align:center; padding:11px 0px;}
.ticket-close-dropdown{float:left; width:15%; margin-right:1.5%;}
.ticket-close-dropdown .template_pe_dropdown{float:right; width:80%;}
.ticket-close-dropdown a{float:left; width:15%; text-align:center; padding:13px 0px;}
.ticket-close-dropdown a img, .ticket-cross-row a img, .template_pe_dropdown-box a img{width:20px;}
.ticket-cross-row{float:left; width:100%;}
.ticket-cross-row a{float:left; width:10%; text-align:right; padding:12px 0px;}
.ticket-cross-row a i{margin-right:15px;}
.ticket-cross-row input{width:75%; margin-left:2%;}
.template_require-purches{float:left; width:75px; margin-right:1.5%; border-radius: 5px; font-size: 16px; color: #4a4a4a;}
.template_require-purches input{width:100%;}
.restriction-left{float: left; width: 5%; margin: 31px 0 0 0;}
.restriction-right{float: right; width: 95%; padding: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 5px;}

.personalization-options-section{width: 100%; float: left; margin: 30px 0 0 0;}
.prs-opt-row{width: 100%; float: left; margin-bottom: 15px;}
.prs-select{float:left; width:20%; margin-right:2.5%;}
.prs-select select{float:right; width:85%;}
.prs-select a{padding:12px 0px; float:left;}
.prs-right{float:right; width:76.5%;}
.prs-right input[type="text"]{width:50%; margin-left:1.5%;}
.prs-right input[type="checkbox"]{margin-left:2.5%;}
.prs-right-single-text{float:right; width:79%; }
.prs-right-single-text input[type="text"]{width:85%; margin-left:1.5%;}
.prs-opt-row-big{float:left; width:100%; margin-top: 25px;}
.prs-right-small{float: right; width: 76.5%;}
.prs-right-small input[type="text"]{margin-left:1.5%;}
.prs-right-small input[type="checkbox"]{margin-left:2.5%;}
.prs-right-single-text .tempname{ float:none;}

.specification-btn-row{float:left; width:100%;}
.specification-btn-row input[type="text"]{width:75px; margin-right:15px;}
.specification-list-row{float:left; width:100%;}
.specification-list-row ul{float:left; width:100%; list-style:none; margin:0px; padding:0px; margin-top:10px;}
.specification-list-row ul li{float:left; width:100%; margin:0px; padding:0px; margin-bottom:15px;}
.specification-list{float: left; width: 15%; margin-right: 1.5%;}
.specification-list a{float: left; width: 15%; text-align: center; padding: 13px 0px;}
.specification-list_dropdown{float: right; width: 80%;}
.specification-list_dropdown100{float: right; width: 100%;}
.specification-list-qty{float:left; width:100px;}
.specification-list-qty input[type="text"]{width:50px; margin-left:15px;}

.res-list-row{float:left; width:100%;}
.res1 {float: left;width: 15%; margin-right: 1.5%;}
.res2 {float: left;width: 15%; margin-right: 1.5%;}
.res3 {float: left;width: 15%; margin-right: 1.5%;}
.res-list-row ul{ list-style:none; margin:0; padding:0; width:100%;}
.res-list-row ul li{width:100%; float:left;}
.res-list-row a {float: left;width: 3%;text-align: left;padding: 13px 0px;}

.event-listing-module{float:left; width:100%;}
.elm-control{float:left; width:100%;}
.elm-row{float:left; width:100%; margin-bottom:15px;}
.elm-calendar{float:right; font-size:16px;  color:#0e26dc;}
.elm-btn-today{margin-right:12px; background-color: #eaeaea; font-size: 16px; color: #333333; border: none; border-radius: 5px; padding: 8px 17px; border: 1px solid #c9c9c9;}
.currnet-date-range, .event-booking-x{margin-right:12px; color:#333333;}
.elm-table-pagination-top{float:right; list-style:none; margin:0px; padding:0px;}
.elm-table-pagination-top li{display:inline-block;}
.elm-table-pagination-top li a{margin-left:10px; float:left; text-decoration:none; background-color: #fff; font-size: 16px; color: #333333; border: none; border-radius: 5px; padding: 5px 12px; border: 1px solid #c9c9c9;}
.elm-table-pagination-top li.active a, .elm-table-pagination-top li:hover a{background-color: #eaeaea;}
.elm-table-pagination-top li.nxt a, .elm-table-pagination-top li.prv a{background-color: #f4c455;}
.elm-table-pagination-top li:hover.nxt a, .elm-table-pagination-top li:hover.prv a{background-color: #e7b540;}

.elm-table{float:left; width:100%; border-collapse:collapse; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.elm-table th{background-color: #434343; font-size:15px; padding:10px 10px; text-align:left; color:#fff;}
.elm-table td{padding:10px 10px;}
.elm-table tr:nth-child(even) {background-color: #e9e9e9;}
/* pradeep */


.listing-wrapper{ width:100%; float:left; margin:0;}
.listing-table{ width:100%; float:left;}
.listing-table table tr th{ font-weight:bold; padding:12px 10px; font-size:15px; text-align:left; background-color:#434343; color:#fff; box-sizing:border-box;}
.listing-table table tr td{ padding:10px 10px}
.listing-table table tbody tr:nth-child(even) {background-color: #e9e9e9;}


/* Location info*/
.location-info-module{float:left; width:100%;}
.locationinfo-row{float:left; width:100%; margin-bottom:15px;}
.locationinfo-row input[type="text"], .locationinfo-row textarea{width:100%; resize:none;}
.locationinfo-left{float:left; width:48.5%;}
.locationinfo-right{float:right; width:48.5%;}
.location-image-upload-section{float:left; width:100%; position:relative; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.location-image-upload{position:relative; float:left; width:312px; overflow:hidden;}
.location-img-upload{width:100%;}
.location-personal-bio-section{position:absolute; left:365px; right:0px; }
.pgleft{ float:left;}
.drange{ margin:0 15px 0 5px; padding:8px 10px !important;}
/* Location info*/


/* Prabhat*/
.gallery-img .tooltip{ top:-5px !important; left:0 !important;} 

.event-msg{color:#6fcf00; font-weight:bold; text-align:center;margin-bottom: 20px;}
.ticket-name-small{width:60%;}
.ticket-price-small2{width:20%; margin-left:1%;}
.ticket-price-small{width:20%; margin-left:1%;}
.ticket-check{margin-left:2% !important;}

.error {
	border:1px solid red!important
}
.error:focus {
	border:1px solid red!important
}
.valid {
	border:1px solid green!important
}

.cmleft {
float:left; margin-right:12px;
}

#img-upload{position:absolute; top:-500px; display:none; }
 .gallery-img {position:relative;}
 .gallery-img label{display:table-cell; vertical-align:middle; position:relative; z-index:10;}
 .gallery-img label i{}
 .gallery-img img{width:100%; position:absolute; left:0px;}
 .gallery-img:hover #upload-label{visibility:visible!important;}
 
 .append-row{float:left; width:100%; position:relative;}
.append-row-close{float:left; position:absolute; left:0px;}
.append-row-close a{float:left; padding:13px 0px; width:35px; text-align:center;}
.append-row-element{float:left; width:100%; padding-left:35px;}
.wysiwyg-editor .tooltip{ top:-5px !important; left:0 !important;} 
.proOptions a.add-cat{ position:relative !important;}
.proOptions a.add-cat .tooltip{ top:-62px !important; left:0 !important; width:107px !important; } 
.proOptions a.add-cat .tooltip .tooltip-arrow{left:50%!important;}


#confirmBox
{
    display: none;
	 width:100%;
	 height:100%;
    background:rgba(0,0,0,0.5);
	position: fixed;
	z-index:9999;
	top:0;
	left:0;

}
.modal-wrapper{ background-color: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
   /* width: 300px;*/
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
	margin-top:200px;
	height:auto !important;
	}

#confirmBox .yes {
    background-color: #6fcf00;
font-size: 16px;
color: #fff;
border: none;
border-radius: 5px;
padding: 8px 17px;

    cursor: pointer;
}

#confirmBox .no{background-color: #f4c455;
font-size: 16px;
color: #333333;
border: none;
border-radius: 5px;
padding: 8px 17px;
}

#confirmBox .message
{
/*text-align: left;
margin-bottom: 20px;*/
text-align: center;
margin-bottom: 11px;
min-height: 40px;
width: 100%;
float: left;
}
#confirmBox hr{opacity:.2; width:100%; float:left; margin:0;}
#confirmBox .btn-box{ width:100%; float:left; margin-top:11px;}



.msg-head{float:left; margin-bottom:15px; width:100%; border: 1px solid #dddddd; background: #e9e9e9; color: #333333; font-weight: bold; padding: .4em 1em; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.msg-head span{float:right; position:relative; color:#d7d7d7; right:-9px;}
.msg-head span i{background:#fff; color:#999;}
.msg-head span:hover i{color:#888888;}
.yes{background-color: #6fcf00;
font-size: 16px;
color: #333333;
border: none;
border-radius: 5px;
padding: 8px 17px;
border: 1px solid #c9c9c9;
margin-right:5px;}

.no{background-color: #eaeaea;
font-size: 16px;
color: #333333;
border: none;
border-radius: 5px;
padding: 8px 17px;
border: 1px solid #c9c9c9;
margin-left:5px; cursor:pointer;}

.no:hover{background-color: #edd714!important;}
.yes:hover{background-color: #62b700!important;;}

.btn-box{padding:10px 0px;}

.message{font-family: Arial,Helvetica,sans-serif; font-size: 1em; color:#333333; font-weight:normal;}

.enbl-btn{background-color: #6fcf00; font-size: 16px; color: #fff; border: none; border-radius: 5px; padding: 8px 17px;}
.enbl-btn:hover{background-color:#62b700;}
.dsbl-btn{content: "Disable"; background-color: #e0e0e0; color: #aeaeae; font-size: 16px; border: none; border-radius: 5px; padding: 8px 17px;}
.enbl-btn:active {  transform: translateY(2px);}


/***pagination***/

.elm-control{float:left; width:100%;}
.elm-row{float:left; width:100%; margin-bottom:15px;}
.elm-calendar{float:right; font-size:16px;  color:#0e26dc;}
.elm-btn-today{margin-right:12px; background-color: #eaeaea; font-size: 16px; color: #333333; border: none; border-radius: 5px; padding: 8px 17px; border: 1px solid #c9c9c9;}
.currnet-date-range, .event-booking-x{margin-right:12px; color:#333333;}
.pagination{float:right; list-style:none; margin:0px; padding:0px;}
.pagination li{display:inline-block;}
.pagination li a{margin-left:10px; float:left; text-decoration:none; background-color: #fff; font-size: 16px; color: #333333; border: none; border-radius: 5px; padding: 5px 12px; border: 1px solid #c9c9c9;}
.pagination li.active a, .pagination li:hover a{background-color: #eaeaea;}
.pagination li.nxt a, .pagination li.prv a{background-color: #f4c455;}
.pagination li:hover.nxt a, .pagination li:hover.prv a{background-color: #e7b540;}
.page-text {
float:right;
}
.mrgtom30 {margin-bottom: 30px;}
.bluelink { color: #0e26dc;text-decoration: underline;}
.elm-calendar { float: right;font-size: 16px;color: #0e26dc;}


/* Loading Csss*/

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




/* Prabhat*/


/* start css Vipul for project section  at 31may 2018*/
.listing-wrapper{ width:100%; float:left; margin:0;}
.listing-table{ width:100%; float:left;}
.listing-table table tr th{ font-weight:bold; padding:12px 10px; font-size:15px; text-align:left; background-color:#434343; color:#fff;}
.listing-table table tr td{ padding:10px 10px}
.listing-table table tbody tr:nth-child(even) {background-color: #e9e9e9;}
.restriction-list_dropdown{float: right; width: 80%;}
.res_prs-right{float:right; width:76.5%;}
.res_prs-right input[type="text"]{width:50%; margin-left:1.5%;}
.res_prs-right input[type="checkbox"]{margin-left:2.5%;}


.relative-div{position:relative;}
.relative-div input[type="text"]{width:100%;}
.relative-div i{position:absolute; right:10px; top:4px;}

.db-list-item{background-color: #eaeaea; float:left; margin:2px; font-size: 16px; color: #333333; border: none; border-radius: 5px; padding: 8px 17px; border: 1px solid #c9c9c9;}
.db-list-item i{float: right;}
.alcatrow{float:left; width:100%; border: 1px solid #9e9e9e; padding: 10px; border-radius: 5px; box-sizing: border-box; box-sizing: -moz-border-box; -webkit-box-sizing: border-box; font-size: 16px; color: #4a4a4a; font-family: 'droid_sansregular';}
#allcat{border: none; padding: 10px 5px; font-size: 16px; color: #4a4a4a; font-family: 'droid_sansregular';}
.widthnew30{ width:30%!important;}
.enbl-btn{background-color: #6fcf00; font-size: 16px; color: #fff; border: none; border-radius: 5px; padding: 8px 17px;}
.enbl-btn:hover{background-color:#62b700;}
.dsbl-btn{content: "Disable"; background-color: #e0e0e0; color: #aeaeae; font-size: 16px; border: none; border-radius: 5px; padding: 8px 17px;}
/*.prs-right label, .prs-right-single-text label{display: inline!important;margin-bottom: 0px!important;font-weight: normal!important;}*/

/* End css Vipul for project section  at 31may 2018*/

.single-event-row{float:left; width:100%; margin-bottom:15px;}
.single-event-row input[type="text"], .single-event-row select, .single-event-row textarea{width:100%; resize:none;}
.single-event-detail-box{float:left; width:100%; position:relative;}
.single-event-right{float:right; width:365px;}
.single-event-left{position:absolute; left:0px; right:365px;}
/*.single-event-left button{position:absolute; z-index:1; left:10px; top:10px;}*/
.single-event-img-upload{width:312px;}
.single-event-btn-row{float:left; width:100%;}
.single-event-btn-row button:first-child{margin-right:15px;}
.single-event-detail-section{float:left; width:100%;}
.single-event-booking-section{float:left; width:100%; margin-top:30px;}
.txtara-padding{padding-top:60px;}
.stnamecls{ border:1px solid #333; border-left:none; border-right:none; }


.prs-opt-row .specification-list-row li .specification-list-qty .tempname{ float:none;}
.edittxt{ position:absolute; right:10px; top:10px; font-size:18px; cursor:pointer;}
.input-sm{ padding:6px 10px;}
.gallery-section .gallery-img{ float:left;}

/* Start css Vipul for promo code section  at 6June 2018*/
.promo-section-first{float:left; width:100%;}
.promo-row{float:left; width:100%; margin-bottom:15px;}
.promo-row-100{float:left; width:100%;}
.promo-row-70{float:left; width:70%;}
.promo-row-30{float:right; width:28%;}
.promo-row-70 input[type="text"], .promo-row-30 input[type="text"], .promo-row-100 input[type="text"]{width:100%;}
.promo-row-10{float:left; width:100%;}
.promo-row-10 input[type="text"]{width:75px;}
.promo-row-10 input[type="checkbox"]{margin-left:20px;}
.promo-rule-section, .promo-schedule-section{float:left; width:100%; margin-top:30px;}
.promo-row-select-label{float:left; width:35%; text-align:right;}
.promo-row-select{float:left; width:19%; margin-left:2%;}
.promo-row-select-label select{ width:75%; margin-left:10px;}
.promo-row-select select, .promo-row-select input[type="text"]{ width:100%;}
.promo-schedule-83{float:right; width:83.5%;}
.ddp100{width:100%;}

.event-dynamic-content{float:left; width:100%;list-style-type:none;margin:0;padding:0;}
.event-dynamic-content li{float:left; width:100%; margin-bottom:15px;}
.event-dynamic-content li .ticket-close-dropdown {width:30%;}
/*.event-dynamic-content li:first-child .remove{display:none!important;}*/
.event-dynamic-content li .template_pe_dropdown{padding:0px; border:none;}
.event-dynamic-content li .ticket-close-dropdown a{padding:4px 0px;}
.availevent30 { width:40%!important;}
/* End css Vipul for promo code section at 6June 2018*/

/*********** Start Booking template added at 12 June ************/

#btnreject {position: relative; background-color:#6fcf00; font-size:16px; color:#fff; border:none; border-radius:5px; padding:8px 25px; float:left;}
#apprej {display: none; }
#apprej:checked + #btnreject:after {content: "Reject";position: absolute;top: 0; left: 0;right: 0; bottom: 0;background-color:#e0e0e0; font-size:16px; color:#aeaeae; border:none; border-radius:5px; padding:8px 25px;}

.booking-left{ width:85%; float:left;}
.booking-right{ width:13%; float:right; text-align:right;}
.evt-date{ width:80%; float:left;}
.bkproject{ float:right; width:18%;}
.width20{ width:20%; margin-right:1%;}
.bkemail{ width:35.5%; float:right;}
.ticketpackage{ width:100%; float:left; margin:30px 0 0 0;}
.tk-section{ float:left; width:100%; margin-bottom:15px; padding:20px; box-sizing:border-box; border:1px solid #a9a9a9; border-radius:5px;}
.width57{ width:57.5%; margin-right:1%;}
.mrgright0{ margin-right:0; float:right;}
.width78{ width:78.8%;}
.labelwdh{ width:10%; text-align:right; float:left; margin-right:1%; margin-top:10px;}
.width56{ width:56%;}
.accommodaation{ width:100%; float:left; margin:30px 0 0 0;}
.note{ width:5%; float:left; text-align:right;}
.tarea90{ width:94%; float:right; height:100px;}
.transaction{ width:100%; float:left; margin:30px 0 0 0;}
.width24{ width:23.8%; margin-right:1%;}
.width24:last-child{ margin-right:0px;}
.listing-wrapper{ width:100%; float:left; margin:30px 0 0 0;}
.listing-table{ width:100%; float:left;}
.listing-table table tr th{ font-weight:bold; padding:12px 10px; font-size:16px; text-align:left; background-color:#434343; color:#fff;}
.listing-table table tr td{ padding:10px 10px}
.listing-table table tbody tr:nth-child(even) {background-color: #e9e9e9;}
.tk-inner{float: left;width: 100%;padding:20px 10px;box-sizing: border-box;border: 1px solid #a9a9a9;border-radius: 5px; margin-bottom:15px;}
.sitby label{ width:auto; margin-right:1%; float:left; text-align:right;}
.sitby{ margin-bottom:0px;}
.width93{ width:93%;}
.width31{ width:30.5%; margin-right:1%;}
.width32{ width:32.4%; margin-right:1%;}
.removeMargin {margin:0;}



.preferences-module{float:left; width:100%;}
.preferences-box{float:left; width:100%;}
.preferences-center{margin:auto; /*width:100%;*/ max-width:550px;}
.preferences-row{float:left; width:100%; margin-bottom:15px;}
.preferences-row input[type="text"], .preferences-row input[type="password"]{width:100%;}
.preferences-left{float:left; width:60%;}
.preferences-right{float:right; width:35%;}
.preferences-right button{width:100%;}

#upload-label{ display:table-cell !important;}
.rpBS a{text-decoration: none;color: #00c805;}
.rpBS a:hover, .rpBS a:focus{color: #00c805;}
.width33{ width:32.4%; margin-right:1%;}

/**** Add labels ****/

/*
.pdf-row{position:relative; display:inline-block;}
.pdf-row input{ position:relative; z-index:2; background-color:transparent; width:100%;}
.pdf-row textarea{ position:relative; z-index:2; background-color:transparent; width:100%;}
.pdf-row select{ position:relative; z-index:2; background-color:transparent; width:100%;}
.pdf-row label{font-size:15px; float:left;  position:absolute; top:12px; z-index:1; left:10px; transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;-ms-transition: 0.2s ease all;-o-transition: 0.2s ease all;}
.floating-label{top:-17px!important; font-size:11px!important;	transition: 0.2s ease all!important; -moz-transition: 0.2s ease all!important; -webkit-transition: 0.2s ease all!important; -ms-transition: 0.2s ease all!important; -o-transition: 0.2s ease all!important;}

.locationinfo-row .pdf-row{ width:100%;}
.promo-row .pdf-row{ width:100%;}
*/


.floatingBox{width:100%; position:relative; margin-bottom:10px; display:inline-block;}
.floatingBox input, .floatingBox textarea{ width:100% !important; position:relative; z-index:1; background:transparent;}
.floating-lab{position: absolute; z-index: 0; left: 12px; top: 11px; font-size: 16px; color: #4a4a4a;transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; -ms-transition: 0.2s ease all; -o-transition: 0.2s ease all;}
.float{font-size:11px; top:-16px; color:#000;}


html input[disabled]{cursor: default; background-color: #e3e3e3;}
.floatingBox.evt-date{ width:80% !important; float:left;}
.floatingBox.bkproject{width: 18% !important;;}
.floatingBox.width20{width: 20% !important;}
.floatingBox.bkemail{width: 35.5% !important;}
.floatingBox.width33 {width: 32.4% !important;}
.floatingBox.width78 {width: 78.8% !important;}
.floatingBox.width57 {width: 57.5% !important;} 
.floatingBox .flref{ width:57.5% !important;}
.floatingBox.width32 {width: 32.4% !important;} 
.floatingBox.tempname{width: 70% !important;} 
.floatingBox.left70{width: 70% !important;}
.floatingBox.right28{width: 28% !important;}
.floatingBox.widthnew30 {width: 30% !important;}
.floatingBox.textareafull {width: 100% !important;}
.floatingBox.tareacustom{width: 93% !important;}
.specification-btn-row .floatingBox{width: 75px; margin-right:15px; float:left;}
.specification-btn-row .floatingBox input{ margin-right:0px;}
.ui-timepicker-container{ z-index:99999 !important;}



/*********** End Booking template added at 12 June ************/


.single-event-left-desc{ width:74%; float:left; position:relative;}
.single-event-right-img{ width:23%; float:right; position:relative;}
.singe-dsc-editor{border: 1px solid #ccc; padding: 20px; /*max-height:260px;*/ height:260px; overflow:auto; overflow-x:hidden;}
.single-event-right-img .single-event-img-upload{ width:100%;}

.singe-dsc-editor p, h1, h2, h3, h4, h5, h6{ margin-bottom:10px;}

.singe-dsc-editor p:nth-child(2){ margin-bottom:0px;}
.singe-dsc-editor p:nth-child(3){ margin-bottom:0px;}
.singe-dsc-editor p:nth-child(4){ margin-bottom:0px;}
.singe-dsc-editor p:nth-child(5){ margin-bottom:0px;}
.singe-dsc-editor p:nth-child(6){ margin-bottom:0px;}

.singe-dsc-editor img.aligncenter{ display:block;} 
.singe-dsc-editor h3{text-align:left !important;}

.single-event-left-desc .edittxt{right:35px; background-color:#fff; padding:5px;}

.boi-img{ overflow:visible !important;}
.boi-img .gallery-img{min-height:300px;}
.boi-img .gallery-img label {display:block !important; position: absolute;z-index: 999999;left: 0;right: 0;top: 0;bottom: 0;margin: auto;height: 60px;}


.boi-img .gallery-img img{ position:static !important;}


.cke_source {white-space: pre-wrap !important;}



@media screen and (max-width: 1600px) {
.floatingBox.width33{ width:32.2% !important; margin-right:1%;}
}

@media screen and (max-width: 1500px) {
.promo-schedule-section .floating-lab{font-size:14px;}
.promo-schedule-section .floating-lab.float{font-size:11px;}
}

@media screen and (max-width: 1400px) {
	
.prs-right input[type="text"]{ width:38%;}	
	
}

/*Added by Pankaj on Apr 01 2019 */
.res-opt-row{width: 100%; float: left; margin-bottom: 15px;}
.res-select{float:left; width:20%; margin-right:2.5%;}
.res-select select{float:right; width:85%;}
.res-select a{padding:12px 0px; float:left;}
.res-right{float:right; width:76.5%;}
.res-right input[type="text"]{width:50%; margin-left:1.5%;}
.res-right input[type="checkbox"]{margin-left:2.5%;}
.res-right-single-text{float:right; width:79%; }
.res-right-single-text input[type="text"]{width:85%; margin-left:1.5%;}
.res-opt-row-big{float:left; width:100%; margin-top: 25px;}
.res-right-small{float: right; width: 76.5%;}
.res-right-small input[type="text"]{margin-left:1.5%;}
.res-right-small input[type="checkbox"]{margin-left:2.5%;}
.res-right-single-text .tempname{ float:none;}


